<div class="jumbotron center">
    <h1>Tech Blog</h1>
    <%= link_to "Sign Up now", '#', class: 'btn btn-danger btn-xlarge btn-lg text-white' %>
</div>

<!-- <%= link_to "Blog", articles_path %> | <%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %> -->